
    <head>
        <title>Ivayla's blog</title>
    </head>
    <body>
        <p></p>
        <p></p>
    </body>
</html>

<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Училищно разписание</a></h1>
        </div>

        <div>
            <h2><a href="">My first post</a></h2>
            <p>Часовете по приложен софтуер.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Часовете по Български език и литература.</p>
        </div>
    </body>
</html>
          <div>
    <h1><a href="/">Учителско разписание</a></h1>
</div>

{% for post in posts %}
    <div>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}